h1 a {
  width: 170px;
  height: 42px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
}

.half-color {
  height: 2px;
  width: 100%;
  margin: 0;
  opacity: 1;
  position: absolute;
  top: 90px;
  @include bg-gradient(90deg, $primary, $secondary, 50%, 50%);
}

.modal-body {
  max-width: 336px;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cdefs%3e%3cstyle%3e.cls-1{fill:%2362DB54;}%3c/style%3e%3c/defs%3e%3crect class='cls-1' y='9.38' width='30' height='3.75'/%3e%3crect class='cls-1' y='16.87' width='30' height='3.75'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
  &:hover {
    opacity: 0.9;
  }
}