@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 993px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin text-gradient($deg: 180deg, $start-color: $secondary, $end-color: $primary, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient($deg, $start-color $start-percent, $end-color $end-percent);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@mixin bg-gradient($deg: 180deg, $start-color: $secondary, $end-color: $primary, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient($deg, $start-color $start-percent, $end-color $end-percent);
  border-width: 0;
  &:hover {
    color: white;
    background-image: linear-gradient($deg + 180deg, $start-color $start-percent, $end-color $end-percent);
    transition: background-image .5s;
  }
}