.box {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: $white;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  top: 50%;
  z-index: 20;
  border-color: $grayBg transparent transparent transparent;
  @include xl {
    position: absolute;
    transform: rotate(270deg);
    right: -64px;
  }
  @include xxl {
    right: -4px;
  }
}